<div class="container">
  <div class="container p-5 my-3 bg-dark text-white">
    <h1>Incidencias's CORS</h1>
  </div>

  <h1>Iniciar sesion</h1>

  <!-- <pre>{{ Formulario.value | json }} </pre>  -->
  <form action="" class="" #Formulario="ngForm" (ngSubmit)="obtenerUsuarios()">
    <div class="form-group col-md-3">
      <label for="">Correo Electronico</label>
      <input type="email" name="email" placeholder="Email" class="form-control" [(ngModel)]="loginForm.email"
        required="" />
    </div>

    <div class="form-group col-md-3">
      <label for="">Contraseña</label>
      <input type="password" name="password" placeholder="Contaseña" class="form-control"
        [(ngModel)]="loginForm.password" required />
    </div>

    <p class="mt-4" *ngIf="usuarios[0] == 'no'">Usuario no registrado o contraseña no válida</p>
    <!-- poner margen tiop -->


    <input class="btn btn-secondary mt-4" type="submit" value="Login" (click)="login(Formulario)"
      [routerLink]="['/incidenciasUsuarioListar', usuarios[0].codUsu]" />

  </form>

</div>