<!DOCTYPE html>
<html lang="en">

<head>
  <title>CORS - Login</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <div class="container">
    <div class="container p-5 my-3 bg-dark text-white">
      <h1>Incidencias's CORS</h1>
      <button class="btn btn-outline-secondary mt-4 bg-white text-dark ms-3" (click)="navegarRegistrarse()">Registrarse</button>
    <button class="btn btn-outline-secondary mt-4 bg-white text-dark ms-3" (click)="navegarLogin()">Iniciar Sesión</button>
    </div>

    <!-- <pre>{{ Formulario.value | json }} </pre>  -->

  </div>

</body>
</html>
