<!DOCTYPE html>
<html lang="en">

<head>
  <title>CORS - Ver incidencias</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <div class="container p-5 my-3 bg-dark text-white">
    <h1>Incidencias's CORS</h1>
    <h3>Ver incidencias</h3>
    <ul class="nav">
      <li class="nav-item">
        <button class="nav-link text-white bg-dark border-0" disabled>Ver incidencias</button>
      </li>
      <li class="nav-item" (click)="navegarCrearIncidencias()">
        <button class="nav-link text-white bg-dark border-0">Crear nueva incidencia</button>
      </li>
      <li class="nav-item ms-auto" (click)="navegarLogin()">
        <button class="nav-link text-white bg-dark border-0">Cerrar Sesión</button>
      </li>

    </ul>
  </div>
  <div class="container table-responsive">
      <table class="table">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Nº incidencia</th>
          <th>Tipo</th>
          <th>Aula</th>
          <th>Grupo</th>
          <th>Descripcion</th>
          <th>Estado</th>
          <th>Feedback</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let incidencia of incidencias; let i = index">
          <td>
            {{ incidencia.fecha }}
          </td>
          <td>
            {{ incidencia.codInci }}
          </td>
          <td>
            {{ incidencia.tipo }}
          </td>
          <td>
            {{ incidencia.aula }}
          </td>
          <td>
            {{ incidencia.grupo }}
          </td>
          <td>
            {{ incidencia.descripcion }}
          </td>
          <!-- ESTO HAY QUE TOCARLO, QUE SI HAY FEEDBACK SE VEA EL FEEDBACK, Y SINO QUE ESTE VACIO -->
          <!-- <td>
            {{ incidencia.feedback }}
          </td> -->
          <td>
            <button type="button" id="buttonStatus" name="button" [ngClass]="incidencia.estado=== 'Creada' ? 'btn btn-success' : incidencia.estado === 'En Proceso' ? 'btn btn-warning' : 'btn btn-danger'">
              {{ incidencia.estado}}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
