<!DOCTYPE html>
<html lang="en">

<head>
  <title>CORS - Gestionar incidencia</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <div class="container p-5 my-3 bg-dark text-white">
    <h1>Incidencias's CORS</h1>
    <div class="nav" >
    <h3 class="nav-item">Gestión de incidencias</h3>
    <button class="nav-item ms-auto bg-dark text-white border-0" (click)="navegarLogin()">Cerrar Sesión</button>
    </div>
  </div>
  <div class="container table-responsive">
    <table class="table">
      <thead>
        <tr style="text-align: center">
          <th>Fecha</th>
          <th>Nº incidencia</th>
          <th>Tipo</th>
          <th>Aula</th>
          <th>Grupo</th>
          <th>Descripción</th>
          <th>Feedback</th>
          <th>Estado</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let incidencia of incidencias; let i = index">
          <td style="text-align: center">
            {{ incidencia.fecha }}
          </td>
          <td style="text-align: center">
            {{ incidencia.codInci }}
          </td>
          <td style="text-align: center">
            {{ incidencia.tipo }}
          </td>
          <td style="text-align: center">
            {{ incidencia.aula }}
          </td>
          <td style="text-align: center">
            {{ incidencia.grupo }}
          </td>
          <td>
            {{ incidencia.descripcion }}
          </td>
          <td>
            {{ incidencia.feedback }}
          </td>
          <td>
            <button type="button" id="buttonStatus" name="button" [ngClass]="incidencia.estado === 'Creada' ? 'btn btn-success' : incidencia.estado === 'En Proceso' ? 'btn btn-warning' : 'btn btn-danger'">
              {{ incidencia.estado }}
            </button>
          </td>
          <td>
            <!-- AÑADIR ROUTING -->

              <button type="button" id="buttonStatus" name="button" class="btn btn-secondary" (click)="gestionarIncidencias(this.i)">
                Gestionar
              </button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>
